
body{
  font-family:sans-serif;
}

p{
  font-size:18px;
  font-family:Sahitya;
  margin-bottom:2em;
}

#wrapper {
  background-color:#D7258F;
  max-width:100%;
  max-height:100%;
}

header{
  /*background-image:url("midterm/images/squidgamecover.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: right;
  background-color: #000;*/
  /*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(5,5,5,1) 29%, rgba(255,255,255,1) 40%);*/
background:
linear-gradient(90deg, rgba(0,0,0,1) 200px, rgba(0,0,0,1) 590px, rgba(255,255,255,0) 600px),
url("images/squidgamecover.jpeg")center no-repeat;
  padding: 4em;
  height:300px;
}

/* Descendent selector- in this case it selects on image inside an h1 element*/
h1 img {
  position:absolute;
  top:32%;
  left:10%;
width:40px;
height:40px;
}



a:link{
color:black;
}

a:visited{
  color:black;
}

a:hover{
  color:#D7258F;
}
.lead{
  font-size:28px;
  font-family:Sahitya;
  position:absolute;
  height:20%;
width:20%;
top:0%;
left:6%;
line-height:2em;
color:#D6CFCF;
}

a.btn{
  background-color:black;
  position:absolute;
  top:30%;
  left:12%;
  padding:0.5em;
  border-radius: 5px;
  font-size:36px;
  font-weight:bold;
  color:#D7258F;
  text-decoration:none;
}

.navbar{
  background-color:gray;
  padding:2em;
}


li{
  font-size:24px;
  display:inline;
  margin-right:6em;
}

a{
color:black;
text-decoration:none;
}

.col{
  width:48%;
}

.left-col{
  float:left;
}

.right-col{
  float:right;
}

footer{
  font-family:italic;
  clear:both;
}

.episodes{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.episode-card{
width:16%;
margin-right:5%;

}

.responsive-img{
width:278px;
height: 197px;
}
