/* CSS Styles */

#wrapper{
  max-width:1200px;
  padding:1em;
}

#logo{
  position:absolute;
  left:10%;
}

body{
  background-color:white;
}

.container{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}

.slideshow{
  position:relative;
display:flex;
flex-direction:column;
justify-content: center;
}

#mypic{
  width:100%;
}

.slide-back{
  position:absolute;
  left:8px;
}

.slide-next{
  position:absolute;
  right:8px;
}


p,h1,h2,h3,h4{
  margin-bottom:1em;
}

h1, h2, h3, h4{
  font-weight:bold;
}

.main-menu li{
  display:inline-block;
  margin-right: 2em;
}

.dropdown{
  background-color:#e3e3e3;
  padding:0;
  position:absolute;
display:none;
}

.dropdown li{
  display: block;
  border: solid 1px #ccc;
  padding:0.5em 2em;
  margin-right:0;
}

.main-menu li:hover .dropdown{
  display:block;
}

.site-header{
  display:flex;
  justify-content: space-between;
}

.site-header h1{
  font-size:24px;
  margin-left:14px;
  padding:0;
}

.menu{
  display:none;
}

.show-menu{
  background-color:transparent;
  border:none;
}

.search-programs{
  background-color:white;
  min-height:6em;
  border:solid 1px #cccc;
  border-radius:10px;
  padding:1em;
  margin-bottom:1em;
}

.search-programs h2{
  font-size:24px;
}

.search-programs h3{
  font-size:18px;
}


.hero-banner{
  min-height:10em;
  background-color:lightgrey;
  font-size:18px;
  padding:1em;
  margin-bottom:2em;
}

.event-item img{
  width:100%

}

@media (min-width:768px){

.show-menu{
  display:none;
}

.menu{
  display:block;
}

.menu li{
  display:inline;
  margin-right:2em;
}

.layout{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1em;
}



} /* closing media query */
